.invitadxs {

    .invitadxs-title {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        font-weight: 400;
        color: $font-primary;
        letter-spacing: 0;
        line-height: 42px;
        width: 50%;
        margin: auto;
        margin-top: 54px;
        margin-left: 13.9%;
    }
    
    .img-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 14px;

        img {
            min-width: 320px;
            min-height: 243px;
        }
    }
}