.invitadxs {
    .invitadxs-title {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        font-weight: 400;
        color: $font-primary;
        letter-spacing: 0;
        line-height: 42px;
        width: 90%;
        margin: auto;
        margin-top: 54px;
    }
    
    .img-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 14px;

        img {
            height: 243px;
        }
    }
}